
{% extends "index.html" %}
{%block title%}about{%endblock%}
{%block body%}
<div align='center'>
    <p id="p_bold">เกี่ยวกับ Thai-Hmong translator</p>
    <P>เว็ปแอพพลิเคชันนี้เป็นส่วนหนึ่งของการศึกษาตามหลักสูตรวิศวกรรมศาสตรบัณฑิต</P>
    <P>สาขาวิชาวิศวกรรมคอมพิวเตอร์ คณะเทคโนโลยีสารสนเทศและการสื่อสาร</P>
    <P>มหาวิทยาลัยพะเยา</P>
    <P>ปีการศึกษา 2561</P>
<br>
    <P id="p_bold">ผู้พัฒนาระบบ</P>
    <p>นายทินวงศ์ แซ่เล้า รหัสนิสิต 59021748<br>
       นายจรัญ ฤทธิ์เดชวงศ์ รหัสนิสิต 59023548</p><br>

    <p id="p_bold">อาจารย์ที่ปรึกษา</p>
    <p>ดร.ภูวิศสรณ์ ภูมิสรณคมณ์</p>
    <p>ดร.สุขชาตรี ประสมสุข</p>
</div>





{%endblock%}