{% extends "index.html" %}

{%block title%}Thai-Hmong Translator{%endblock%}


{%block body %}

<h3><span id="clock" style="float: right"></span></h3>
<br>
<br>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">ภาษาไทย</div>
            <div class="col-6">ภาษาม้ง</div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="card-body">
                        <div id="side_thaiword">
                            <textarea placeholder="กรุณาป้อนประโยค" class="textareathai"
                                      id="thaiword" autofocus></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="card-body">
                        <div id="side_result">
                            <div id="result_translate">
                                <span style="float: left">การแปล</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row margin-top">
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <p>ตัวอย่างรูประโยค</p>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <p class="float-left">คำที่เลือก</p>
            <span id="wordselect"></span>
        </div>
    </div>
</div>
</div>


{%endblock%}

{% block custom_js %}
<script src="{{url_for('static',filename='js/index_page.js')}}"></script>

{% endblock %}

