
{% extends "index.html" %}

{%block title %}Recommend{%endblock%}

{%block body%}

    <div class="card" style="box-shadow: 2px 1px 4px #999; margin-top: 25px; padding: 20px; width: 1150px; ">
         <div class="card-header">
             <div class="btn-group" style="height: 60px; float: left">
                  <button id="yourRecommend" type="button" class="btn color_button1" ><h4>คำที่คุณแนะนำ</h4></button>
                  <button id="getRecommend" type="button" class="btn color_button1" ><h4>ประโยคแนะนำ</h4></button>
                  <button id="getNewword" type="button" class="btn color_button1" tabindex="-1" aria-disabled="true"><h4>คำที่ระบบไม่มี</h4></button>
             </div>

         </div>
        <br>
        <div>

            <!-- table reccommend -->
            <div class="data_reccommend "> <!-- table-responsive  -->
                <div class="form-group">
                    <select name="state" id="select_maxrow_Recommend" class="form-control" style="width: 150px;">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="all">แสดงทั้งหมด</option>
                    </select>
                </div>
<!--                <hr size='1' width='100%'>-->
<!--                style="box-shadow: 2px 1px 4px #999; width: 100%; "-->
                <table id="tableRecommend" class="table-bordered table-hover " style="width: 100%; ">
                <!-- head table recommend-->
                    <thead id="thead_getrecommend" style="background-color: #4dd0e1">
                        <tr align="center">
                            <th>ลำดับ</th>
                            <th>ประโยคภาษาไทย</th>
                            <th>ประโยคภาษาม้ง</th>
                            <th>เวลาส่ง</th>
                            <th>ชนิดที่ผิด</th>
                        </tr>
                    </thead>
                    <!-- body dynamic rows recommend-->
                    <tbody id="tbody_getrecommend">

                    </tbody>
                    <br>
                </table>

                <div style="font-size: 14px; float: left;">
                    <p>แสดงแถว <span id="startRow_Recommend"></span> ถึง <span id="endRow_Recommend"></span> จากทั้งหมด <span id="totalRow_Recommend"></span></p>
                </div>
                <div class="pagination-container" style="float: right;">
                    <nav>
                        <ul class="pagination_Recommend"></ul>
                    </nav>
                </div>
            </div> <!-- end div recommend -->
<!--            =============================================================================================-->
            <!-- table newword -->
            <div class="data_newword">
                 <div class="form-group">
                    <select name="state" id="select_maxrow_newword" class="form-control" style="width: 150px;">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="all">แสดงทั้งหมด</option>
                    </select>
                </div>
                <table id="tableNewword" class="table-bordered table-hover"  style="width: 100%;" >
                <!--  head table newword -->
                    <thead id="thead_getnewword" style="background-color: #4dd0e1">
                      <tr align="center">
                        <th>ลำดับ</th>
                        <th>ประโยคแนะนำ</th>
                        <th>คำภาษาไทย </th>
                        <th>คำภาษาม้ง</th>
                        <th>ไวยากรณ์ </th>
                      </tr>
                    </thead>
                    <!-- body dynamic rows  newword-->
                    <tbody id="tbody_getnewword">

                    </tbody>
                </table>

                <div style="font-size: 14px; float: left;">
                    <p>แสดงแถว <span id="startRow_Newword"></span> ถึง <span id="endRow_Newword"></span> จากทั้งหมด <span id="totalRow_Newword"></span></p>
                </div>

                <div class="pagination-container" style="float: right;">
                    <nav>
                        <ul class="pagination_Newword"></ul>
                    </nav>
                </div>
            </div>


            <!-- Modal  Recommend -->
            <div id="add_recommend" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"   aria-hidden="true">
               <div class="modal-dialog modal-xl">
                   <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="Modalrecommend">เพิ่มประโยคที่คุณจะแนะนำ</h5>

                        <button type="button" id="close_modal" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6 col-sm-12" >
                                  <table id="table_addsentanceRecommend" style="border: 0px">
                                      <tr id="tr_addsentanceRecommend">
                                          <th id="th_addsentanceRecommend"></th>
                                          <th style="float: left" id="table_addwordAdmin">ประโยคภาษาไทย</th>
                                      </tr>
                                      <tr id="table_thaisentence_show">
                                          <th id="th_thaisentence">ประโยค : </th>
                                          <td id="thaisentence">

                                          </td>
                                      </tr>
                                      <tr id="tr_thaisentence">
                                          <th id="th_thaisentence2">แก้ไข</th>
                                          <td id="td_thaisentence">
                                              <input type="text" class="form-control form-control" style="float: left" id="input_thaisentence">
                                          </td>
                                      </tr>
                                  </table>
                              </div>

                              <div class="col-md-6 col-sm-12">
                                  <table id="table_hmongsentence">
                                      <tr id="tr_hmongsentence">
                                          <th id="th_hmongsentence"></th>
                                          <th style="float: left">ประโยคภาษาม้ง</th>
                                      </tr>
                                      <tr id="table_hmongsentence_show">
                                          <th id="th_hmongsentence_show">ประโยค : </th>
                                          <td id="hmongsentence">

                                          </td>
                                      </tr>
                                       <tr id="tr_hmongsentence_input">
                                          <th id="th_hmongsentence_input">แก้ไข</th>
                                          <td id="td_hmongsentence_input">
                                              <input type="text" class="form-control form-control" style="float: left" id="input_hmongsentence">
                                          </td>
                                      </tr>

                                  </table>
                              </div>

                                <div class="col-md-6 col-sm-12">
                                    <br>
                                    <table id="table_grammarsentence">
                                        <tr id="tr_grammarsentence">
                                            <th id="th_grammarsentence"></th>
                                            <th style="float: left">ชนิดไวยากรณ์</th>
                                        </tr>
                                        <tr id="table_grammarsentence_show">
                                            <th id="th_grammarsentence_show">ชนิด : </th>
                                            <td id="grammarsentence">

                                            </td>
                                        </tr>
                                        <tr id="tr_grammarsentence_input">
                                            <th id="th_grammarsentence_input">แก้ไข</th>
                                            <td id="td_grammarsentence_input">
                                                <input type="text" class="form-control form-control" style="float: left" id="input_grammarsentence">
                                            </td>
                                        </tr>

                                    </table>
                                </div>


                            </div>
                         </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn color_button1" id="saveword_editRecommend" class="close" data-dismiss="modal" aria-label="Close">บันทึก</button>
                        <button type="button" class="btn color_button3" id="clearword_editRecommend">ล้าง</button>
                        <button type="button" id="close_modal_editRecommend" class="btn color_button4" class="close" data-dismiss="modal" aria-label="Close">ยกเลิก</button>

                      </div>
                    </div>
               </div>
            </div>

            <!-- modal delete rows-->
            <div id="deleteRow_recommend" class="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">ยืนยันการลบ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>ยืนยันการลบ.</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn color_button1" id="delet_row" data-dismiss="modal" aria-label="Close">ยืนยัน</button>
                      <button type="button" id="close_modalnewword" class="btn color_button4" class="close" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                  </div>
                </div>
              </div>
            </div>


            <!-- Modal  Newword -->
            <div class="modal fade bd-example-modal-xl" id="edit_newword" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"   aria-hidden="true">
               <div class="modal-dialog modal-xl">
                   <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">เพิ่มคำศัพท์ใหม่</h5>
                        <button type="button" id="close_modal_newword" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                       <!-- modal body -->
                      <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6 col-sm-12" >
                                  <table id="table_addwordNewword">
                                      <tr id="tr_addwordNewword">
                                          <th id="th_addwordNewword"></th>
                                          <th style="float: left" id="th_addwordNewword1">ภาษาไทย</th>
                                      </tr>
                                      <tr id="tr_addwordNewword1">
                                          <td id="td_addwordNewword_thai">คำศัพท์</td>
                                          <td id="td_addwordNewword_thai1">
                                              <input type="text" class="form-control form-control" style="float: left" id="input_thaiWord">
                                          </td>
                                      </tr>
                                      <tr id="tr_addwordNewword2">
                                          <td id="td_addwordNewword_thai_2">ชนิดคำ</td>
                                          <td id="td_addwordNewword_thai2">
                                              <select class="form-control" name="select_newword" id="select_newword">
                                                <option value="NOUN">คำนาม(NOUN)</option>
                                                <option value="VERB">คำกริยา(VERB)</option>
                                                <option value="ADP">คำบุพบท(ADP)</option>
                                                <option value="AUX">กริยาช่วย(AUX)</option>
                                                <option value="CCONJ">คำเชื่อม(CCONJ)</option>
                                                <option value="DET">คำบ่งชี้เฉพาะหรือไม่ชี้เฉพาะ(DET)</option>
                                                <option value="PRON">คำสรรพนาม(PRON)</option>
                                                <option value="SCONJ">คำสันธาน(SCONJ)</option>
                                                <option value="NUM">ตัวเลข(NUM)</option>
                                                <option value="PART">คำอนุภาคทั่วไป(PART)</option>
                                                <option value="ADJ">คำคุณศัพท์(ADJ)</option>
                                                <option value="INTJ">คำอุทาน(INTJ)</option>
                                                <option value="ADV">คำวิเศษณ์(ADV)</option>
                                                <option value="PROPN">คำนามชี้เฉพาะหรือวิสามานยนาม(PROPN)</option>
                                                <option value="X">อื่นๆ(X)</option>
                                              </select>
<!--                                              <input type="text" name="select_value" id="select_value">-->
                                          </td>
                                      </tr>
                                  </table>
                              </div>

                              <div class="col-md-6 col-sm-12">
                                  <table id="table_addwordNewword_">
                                      <tr id="tr_addwordNewword_">
                                          <th id="th_addwordNewword_"></th>
                                          <th style="float: left">ภาษาม้ง</th>
                                      </tr>
                                      <tr id="tr_addwordNewword_hmong">
                                          <td id="td_addwordNewword_hmong">คำศัพท์</td>
                                          <td id="td_addwordNewword_hmong1">
                                              <input type="text" class="form-control form-control" style="float: left" id="input_hmongWord">
                                          </td>
                                      </tr>

                                  </table>
                              </div>
                            </div>
                         </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn color_button1" id="saveNewword" data-dismiss="modal" aria-label="Close">บันทึก</button>
                        <button type="button" class="btn color_button3" id="clearwordadd">ล้าง</button>
                        <button type="button" id="close_modal_button" class="btn color_button4" class="close" data-dismiss="modal" aria-label="Close">ยกเลิก</button>

                      </div>
                    </div>
               </div>
            </div>
             <!-- modal delete rows newword-->
            <div id="deleteRow_mewword" class="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"> ยืนยันการลบ </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>ยืนยันการลบ.</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn color_button1" id="save_model_newword" data-dismiss="modal" aria-label="Close">ยืนยัน</button>
                      <button type="button" id="close_modal_deleteNewword" class="btn color_button4" class="close" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
    <br><br>
    <div> </div>

{%endblock%}

{% block custom_js %}
    <script src="{{url_for('static',filename='js/test.js')}}"></script>
{% endblock %}