<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {%block title%} {%endblock%} </title>

    <!--for css file-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <!--for semantic cdn-->

    <!--include boostrap-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">

    <!--custom css-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">


</head>

<body>
{#        <div class="row">#}
{#            <div class="navbar">#}
{#                <div class="col-6">#}
{#                    <a id="wordBar"><i class="bars icon" onclick="menubar()"></i></a>#}
{#                    <a id="wordBar" href="/" style="margin-left: 10px"><h3>แปลภาษาไทย-ม้งอัตโนมัติ</h3></a>#}
{#                    {% if 'USERNAME' in session %}#}
{#                    {% if send[2]==0%}#}
{#                        <br>#}
{#                        <a href="/admin" style="float: left"><h3>Addmin page</h3></a>#}
{#                    {% endif %}#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div class="col-6" >#}
{#                    <div style="float: right">#}
{#                    {% if 'USERNAME' in session %}#}
{#                        <div>#}
{#                            <span> สวัสดี คุณ {{send[0]}}<a href="/logout">ลงชื่อออก</a></span>#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <span><a href="/login">ลงชื่อเข้าใช้</a></span>#}
{#                    {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!--    ************ show menu bar  ******************-->#}
{#        <div id="mySidenav" class="sidenav">#}
{#            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>#}
{#            <a href="/">โปรแกรมแปลภาษาไทย-ม้งอัตโนมัติ</a>#}
{#            <a href="/about">เกี่ยวกับ Thai-Hmong tranlator</a>#}
{#            <a href="/help">ความช่วยเหลือ</a>#}
{##}
{#        </div>#}


<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand ml-lg-5" href="/"><h4>Thai-Hmong translator</h4></a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if 'USERNAME' in session %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  สวัสดี คุณ {{send[0]}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if send[2]==0%}
                        <a class="dropdown-item" href="/admin">โปรไฟล์</a>
                    {% else %}
                        <a class="dropdown-item" href="/">โปรไฟล์</a>
                    {% endif %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">ลงชื่อออก</a>
                </div>
            </li>
        {% else %}
            <span class="nav-link"><a href="/login">ลงชื่อเข้าใช้</a></span>
        {% endif %}
      </li>
    </ul>

  </div>
</nav>







        <div class="container">
            {%block body%}{%endblock%}
        </div>

        <!-- ************ footer ****************************-->
        <div class="footer">
            <p>copyrigth 2019 Thai - hmong translator</p>
        </div>


{% block script %}

{% endblock %}


<!--include jquery-->
<script src="{{url_for('static',filename='node_modules/jquery/dist/jquery.min.js')}}"></script>

{#<!--include boostrap js-->#}
<script src="{{url_for('static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>

<!--include popper-->
<script src="{{url_for('static',filename='node_modules/popper.js/dist/umd/popper.min.js')}}"></script>


<!--include js semantic ui-->
{#<script src="{{url_for('static',filename='css/Semantic-UI-CSS-master/semantic.min.js')}}"></script>#}


{% block custom_js %}
<!--custom js-->
    <script src="{{url_for('static',filename='js/script.js')}}"></script>

{% endblock %}


</body>

</html>