<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {%block title%} {%endblock%} </title>
    <link rel="icon" href= "{{url_for('static',filename='img/logoProject_PNG.png')}}">
    <!--for css file-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <!--for semantic-->
<!--    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='node_modules/semantic-ui/dist/semantic.min.css')}}">-->

    <!--include boostrap-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">

    <!--custom css-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index_page.css')}}">


</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark py-1">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand ml-lg-5" href="/"><h2>Thai-Hmong translator</h2></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            {% if 'USERNAME' in session %}
            <span class="nav-item nav-link">
                <img  class="user_image" src="{{url_for('static',filename='img/user_/flask_icon.png')}}">
                <span>{{send[0][0]}}</span>
                
            </span>
            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle"
                   id="navbarDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {% if send[2]==0%}
                    <a class="dropdown-item" href="/admin">admin page</a>
                    <a class="dropdown-item" href="/">โปรไฟล์</a>
                    {% else %}
                    <a class="dropdown-item" href="/">โปรไฟล์</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">ลงชื่อออก</a>
                </div>
            </li>
            {% else %}
            <span class="nav-link">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModal">
                    ลงชื่อเข้าใช้
                </button>
            </span>
            {% endif %}

        </ul>
    </div>
</nav>


<!-- Modal login -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">

                <h3 class="modal-title" id="exampleModalLabel" style="margin: 0 auto;">เข้าสู่ระบบ</h3>
                <div class="clearfix">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
            <form action="/checkLogin" method="post" id="formLogin">

                <div class="modal-body">
                    <div align="center">
                        <div class="row">
                            <p style="float: left; margin-left: 5%;"><a style="color: red">*</a>ชื่อผู้ใช้</p>
                        </div>
                        <input class="form-control" placeholder="กรุณาป้อนชื่อผู้ใช้" name="username"
                               id="username_login"
                               style="width: 80%;">

                        <div class="row" style="margin-top: 10px">
                            <p style="float: left; margin-left: 5%;"><a style="color: red">*</a>รหัสผ่าน</p>

                        </div>
                        <input class="form-control" type="password" id="password_login" name="password"
                               placeholder="กรุณาป้อนรหัสผ่าน"
                               style="width: 80%;">
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="submitLogin">เข้าสู่ระบบ</button>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="container">
    {%block body%}{%endblock%}
</div>

<!-- ************ footer ****************************-->
<div class="footer">
    <p>copyrigth 2019 Thai-hmong Translator</p>
</div>


{% block script %}

{% endblock %}


<!--include jquery-->
<script src="{{url_for('static',filename='node_modules/jquery/dist/jquery.min.js')}}"></script>

{#<!--include boostrap js--> #}
<script src="{{url_for('static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>

<!--include popper-->
<script src="{{url_for('static',filename='node_modules/popper.js/dist/umd/popper.min.js')}}"></script>


<!--include js semantic ui-->

<!--<script src="{{url_for('static',filename='css/Semantic-UI-CSS-master/semantic.min.js')}}"></script>-->


<!--include autosize-->
<script src="{{url_for('static',filename='node_modules/autosize/dist/autosize.min.js')}}"></script>

<!--include semantic-->
<!--<script src="{{url_for('static',filename='node_modules/semantic-ui/dist/semantic.min.js')}}"></script>-->


{% block custom_js %}
<!--custom js-->
<script src="{{url_for('static',filename='js/script.js')}}"></script>
{% endblock %}


</body>

</html>