.modal-content {
    border-radius: 1rem;
}

.card-body {
    padding: 0;
}

.card-header {
    background-color: white;
}

.card.tran {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-left: 2px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

#result_translate {
    background-color: #f5f5f5;
}

.margin-top {
    margin-top: 60px;
}


#thaiword {
    padding-left: 8px;

}

.span_result_translate:hover {
    background-color: yellow;
    border-radius: 0.2rem;
    cursor: pointer;

}


/*click to trnslate*/
.translateword{
    text-align: left;
    margin: 15px;
}

.clickTran_word{
    margin-top: 14px;
    color: black;
}

.clickTran_first{
    text-align: left;
    font-size: 16px;
    color:#777777;
}

.clickTran_class{
    font-size: 14px;
    color: blue;
}
.clickTran_traned{
    color: #777777;
    font-size: 14px;
}
.clickTran_traned:hover{
    color:black;
}

span.clickTran_traned{
    padding-left: 3px;
}

.clickTran_wordtran{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color:black;
}
.clickTran_comma{
    color:#777777;
}

.clickTran_trs{
    width: 10px;
    height: 2px;
}

/*============= menu bar =========== ========================*/

/*.sidenav {*/
/*    height: 100%;*/
/*    width: 0;*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    top: 0;*/
/*    left: -2px;*/
/*    background-color: white;*/
/*    overflow-x: hidden;*/
/*    transition: 0.1s;*/
/*    padding-top: 45px;*/
/*    border: 1px solid #ccc;*/
/*    box-shadow: 2px 1px 4px #999;*/
/*}*/

/*.sidenav a {*/
/*  padding: 8px 8px 8px 32px;*/
/*  text-decoration: none;*/
/*  font-size: 20px;*/
/*  color: #818181;*/
/*  display: block;*/
/*  transition: 0.1s;*/
/*}*/

/*.sidenav a:hover {*/
/*  color: black;*/
/*}*/

/*.sidenav .closebtn {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 20px;*/
/*  font-size: 30px;*/
/*  margin-left: 50px;*/
/*}*/

/*@media screen and (max-height: 450px) {*/
/*  .sidenav {padding-top: 15px;}*/
/*  .sidenav a {font-size: 18px;}*/
/*}*/