/*.body-container {*/
/*    background-color: rgba(45, 55, 56, 0.1);*/
/*}*/
/* navbar */
/*body {*/
/*  padding-bottom: 30px;*/
/*  position: relative;*/
/*  min-height: 100%;*/
/*}*/

.keyboard {
  background: #999;
  border-radius: 4px;
  color: #555;
  float: left;
  font: bold 16px Helvetica, Arial;
  margin: 10px 15px 25px 0;
  padding: 8px;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 875px;
}

.key {
  background: -moz-linear-gradient(left, #CCC 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
  background: -webkit-linear-gradient(left, #CCC 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
  border: 6px solid transparent;
  border-width: 5px 5px 8px 6px;
  border-image: -moz-linear-gradient(top, #999 0%, #BBB 45%, #BBB 55%, #CCC 95%, #DDD 100%) 49%;
  border-image: -webkit-linear-gradient(top, #999 0%, #BBB 45%, #BBB 55%, #CCC 95%, #DDD 100%) 49%;
  box-shadow: 3px -5px 6px rgba(100, 100, 100, 0.6), -4px -4px 6px rgba(100, 100, 100, 0.4), 4px -2px 5px rgba(100, 100, 100, 0.5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  margin: 1px 0;
  padding: 2px 0 0 5px;
  position: relative;
  vertical-align: top;
}

.key:active {
  background: -moz-linear-gradient(left, #C8C8C8 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
  background: -webkit-linear-gradient(left, #C8C8C8 0%, #D8D8D8 20px, #E5E5E5 35px, #FAFAFA 100%);
  box-shadow: 1px -3px 6px rgba(100, 100, 100, 0.6), -3px -3px 6px rgba(100, 100, 100, 0.3), 4px -2px 6px rgba(100, 100, 100, 0.3);
  top: 1px;
}

.w2 {
  text-transform: uppercase;
  width: 54px;
}

.w3 {
  width: 83px;
}

.w4 {
  width: 112px;
}

.w5 {
  width: 141px;
}

.w12 {
  width: 344px;
}

.monitor {
  float: left;
  margin: 10px 10px 100px;
  position: relative;
}

.screen {
  border: 25px solid #444;
  border-radius: 10px;
  height: 300px;
  overflow: auto;
  padding: 5px;
  width: 405px;
}

.monitor:after, .monitor:before {
  content: "";
  left: 50%;
  position: absolute;
}

.monitor:after {
  background: #3A3A3A;
  height: 60px;
  margin-left: -20px;
  width: 40px;
}

.monitor:before {
  background: #333;
  border-top-left-radius: 150px 25px;
  border-top-right-radius: 150px 25px;
  border-bottom-left-radius: 150px 25px;
  border-bottom-right-radius: 150px 25px;
  bottom: -80px;
  height: 40px;
  margin-left: -25%;
  width: 50%;
}

.screen p {
  display: inline-block;
  font-family: Courier, monospace;
  margin: 0;
  padding: 0;
}

.screen p:after {
  content: "|";
  position: relative;
  right: 3px;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframe blinker {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/*@-moz-keyframe blinker {*/
/*  0% { opacity: 1; }*/
/*  50% { opacity: 0; }*/
/*  100% { opacity: 1; }*/
/*}*/
/*===============*/
.card-in {
    padding: 10px;
    padding-top: 1px;
}

/*===========================================*/
.ui-keyboard-preview-wrapper {
    overflow: visible;
}
/* add caret character preview popup */
.ui-keyboard-caret:after {
    content: attr(data-character);
    background: red;
    color: white;
    font-family: Verdana, Tahoma, Segoe, sans-serif;
    font-size: 1.1em;
    min-width: 1em;
    position: absolute;
    z-index: 100;
    top: -1.4em;
    left: -.5em;
}
input[type=password] {
	font-family: monospace !important;
}
#wrap {
    display: block;
    margin: 0 auto;
    width: 200px;
}
.spacer {
    height: 20px;
}
/*===============================================*/

a {
  transition: background 0.2s, color 0.2s;
}
a:hover,
a:focus {
  text-decoration: none;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  color: black;
  background: rgba(246, 246, 246, 0.44);
  transition: all 0.5s ease;
  box-shadow: 1px 0px 4px #b3b3b3;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 15px 0;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  color: #401947;
}

.sidebar-nav {
  position: absolute;
  top: 65px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 600;
  font-size: 18px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #cecece;
}
.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #eee;
  /*font-size: 24px;*/
  margin-bottom: 0;
  border-radius: 0;
}
/*#navbar-wrapper .navbar a {*/
/*  color: #757575;*/
/*}*/
/*#navbar-wrapper .navbar a:hover {*/
/*  color: #F8BE12;*/
/*}*/

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 0px;
  }

  #wrapper.toggled {
    padding-left: 0px;
  }

  #sidebar-wrapper {
    width: 0px;
    border: 1px ;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 0px;
  }

  #sidebar-wrapper {
    width: 0px;
  }

#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

/* model */
.modal-content {
    border-radius: 1rem;
}

.card-body {
    padding: 0;
}

.card-header {
    background-color: white;
}

.card.tran {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-left: 2px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

#result_translate {
    background-color: #f5f5f5;
}

.margin-top {
    margin-top: 60px;
}


#thaiword {
    padding: 0px;

}

.span_result_translate:hover {
    background-color: yellow;
    border-radius: 0.2rem;
    cursor: pointer;
}


/*click to trnslate*/
.translateword {
    text-align: left;
    margin: 15px;
}

.clickTran_word {
    margin-top: 14px;
    color: black;
}

.clickTran_first {
    text-align: left;
    font-size: 16px;
    color: #777777;
}

.clickTran_class {
    font-size: 14px;
    color: blue;
}

.clickTran_traned {
    color: #777777;
    font-size: 14px;
}

.clickTran_traned:hover {
    color: black;
}

span.clickTran_traned {
    padding-left: 3px;
}

.clickTran_wordtran {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: black;
}

.clickTran_comma {
    color: #777777;
}

.clickTran_trs {
    width: 10px;
    height: 2px;
}

/*============= menu bar =========== ========================*/
/*.wordBar {*/
/*  float: left;*/
/*  color: #ffffff;*/
/*  text-align: center;*/
/*  padding: 2px ;*/
/*  text-decoration: none;*/
/*}*/
/*.wordBar:hover {*/
/*  color: black;*/
/*}*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -2px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 45px;
    border: 1px solid #ccc;
    box-shadow: 2px 1px 4px #999;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.1s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


.body-signUp {

    padding-left: 10px;
    padding-right: 10px;
}

.element-signUp {
    padding: 5px;
}


.span_result_translate {
    position: relative;
    /*text-align: center;*/
}

.span_result_translate:hover {
    background-color: rgba(0, 158, 199, 0.22);
}

/*.rowWord:hover {*/
    /*background-color: rgba(0, 205, 255, 0.18);*/
    /*position: static;*/
    /*z-index: 2;*/
/*}*/

.rowWord {
    background-color: #e7e7e7;
}

.box_results {
    border-color: blue;
}





